{% extends 'layout.html' %}

{% block body %}
 <span><h1>{{post.title}} </h1> </span> 
{% from 'includes/_formhelpers.html' import render_field %}
<form id='upvoteForm' action=''>
	<button id="upvote" type="submit" class="btn btn-primary pull-right" value="upvote" >
Upvote  <i class="fa fa-thumbs-o-up" ></i> {{upvote}}
</button>
	<!--<input type="submit" class="btn btn-info" value='Upvote' />-->
</form> 
<script type="text/javascript">
$("#upvote").click(function(event){
  event.preventDefault();
      $.ajax({
            url: '',
            data: $('#upvoteForm').serialize(),
            type: 'POST',
            success: function(response) {
                //I need to some how be able to populate my table with the returned list called jobs;
                console.log('success')
            },
            error: function(error) {
                alert(error);
            }
        });

   });
</script> 

<small> Written by {{post.author}} on {{post.date}} </small>
<hr>
  <div> {{post.body | safe}}</div>
<hr>
 {% for comment in comments %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><small> Comment by {{comment.author}} on {{comment.date}} </small></div>
    <div class="panel-body">{{comment.body | safe}}</div>
  </div>
</div>
<!-- comment form -->
   {% endfor %}
 <form method="POST" action="">
 <div class='form-group'>
     {{ render_field(form.comment_body,class_='form-control',id="editor")}}
   </div>

<p> <input type="submit" class="btn btn-primary" value='Submit' /> </p>
 </form>
{% endblock %}
